#page-post.noteworthy small.bottom-cite {
  font-size: 100%;
  margin: 10px;
  border: 1px solid;
  padding: 10px;
  border-top: 0px;
  border-left: 0px;
  text-align: right;
}

.cite-header-block {
  margin: 2px;
  color: var(--foreground-muted);
  vertical-align: middle;
}

.cite-header-block .forward-icon {
  font-size: 100%;
}

section.page-post p strong {
  text-shadow: 0px 0px 1px var(--accent), 0px 0px 8px var(--foreground-muted);
}

.page-post p:has(picture > img) {
  text-align: center;
}

.center-in-text {
  text-align: center;
  margin: 0 auto;
  grid-column: paragraph;
}

#page-post span.bottom-cite-archive {
  font-size: 50%;
  margin-left: 10px;
  line-height: 100%;
  padding-bottom: calc(var(--main-font) / 4);
  padding-top: calc(var(--main-font) / 4);
  display: block;
  text-align: right;
}
