#page-post.noteworthy small.bottom-cite {
  font-size: 100%;
  margin: 10px;
  border: 1px solid;
  padding: 10px;
  border-top: 0px;
  border-left: 0px;
  text-align: right;
}

.cite-header-block {
  margin: 2px;
  color: var(--foreground-muted);
  vertical-align: middle;
}

.cite-header-block .forward-icon {
  font-size: 100%;
}
