<section class="jumbo-nav breakout" data-source="src/_includes/components/jumbo-nav-basic.njk">
    <nav>
        <dl>
            <dt>Writing</dt>
            <dd><a href="/essays"><span>*</span><span>Essays</span></a></dd>
            <dd><a href="/tutorials"><span>*</span><span>Tutorials</span></a></dd>
            <dd><a href="/noteworthy"><span>*</span><span>Noteworthy</span></a></dd>
            <dd><a href="/thoughts"><span>*</span><span>Thoughts</span></a></dd>
            <dd><a href="/glossary"><span>*</span><span>Glossary</span></a></dd>
            <dd><a href="/stubs"><span>*</span><span>Stubs</span></a></dd>
            <dd><a href="/writing" title="View all Writing (archive)"><small>View all <span aria-hidden="true">→</span></small></a></dd>
        </dl>
        <dl>
            <dt>Lists/Collections</dt>
            <dd><a href="/lists/film-and-tv/"><span>*</span><span>Films & TV</span></a></dd>
            <dd><a href="/lists/listened-to/"><span>*</span><span>Listened To</span></a></dd>
            <dd><a href="/lists/contrasts/"><span>*</span><span>Contrasts</span></a></dd>
            <dd><a href="/books"><span>*</span><span>My Bookshelf</span></a></dd>
            <dd><a href="/antilibrary"><span>*</span><span><em>The</em> Antilibrary</span></a></dd>
            <dd><a href="/amplify" title="View amplified links"><span>*</span><span>Amplified</span></a></dd>
            <dd><a href="/lists" title="View all lists and collections (archive)"><small>View all <span aria-hidden="true">→</span></small></a></dd>
        </dl>
        <dl> 
            <dt>Resources</dt>
            <dd><a href="/resources/bookmarks"><span>*</span><span>Bookmarks</span></a></dd>
            <dd><a href="/resources/quotes"><span>*</span><span>Quotes</span></a></dd>
            <dd><a href="/resources" title="View all Resources (archive)"><small>View all <span aria-hidden="true">→</span></small></a></dd>
        </dl>
        <dl>
            <dt>Personal</dt>
            <dd><a href="/about"><span>About</span></a></dd>
            <dd><a href="/elsewhere"><span>Elsewhere</span></a></dd>
            <dd><a href="/projects"><span>My Projects</span></a></dd>
            <dd><a href="/now"><span>/now</span></a></dd>
            <dd><a href="/uses"><span>/uses</span></a></dd>
        </dl>
        <div>
            <dl>
                <dt>Community</dt>
                <dd>
                    <a href="/links"><span>Blogroll</span></a>
                    <a href="https://indieweb.social" target="_blank"><span>indieweb.social</span></a>
                </dd>
            </dl>
        </div>
    </nav>
</section>
