{% set grouped = collections.post | excludeStubs | groupByKey('contentType') %}
{% set stubs = collections.post | onlyGrowthStages('stub') %}
{% set antilibrary = bookwyrm | whereKeyEquals('shelf', 'to-read') %}
{% set read = bookwyrm | whereKeyEquals('shelf', 'read') %}
{% set resources = collections.resources | groupByKey('resourceType') %}
{% set videoMediafullArray = [] %}
{% for movie in movies %}
	{% set videoMediafullArray = (videoMediafullArray.push(movie), videoMediafullArray) %}
{% endfor %}
{% for item in tv %}

	{% set videoMediafullArray = (videoMediafullArray.push(item), videoMediafullArray) %}
{% endfor %}
{% for item in film %}

	{% set videoMediafullArray = (videoMediafullArray.push(item), videoMediafullArray) %}
{% endfor %}

{% set videoMediaCount = videoMediafullArray.length %}

<section class="jumbo-nav breakout" data-source="src/_includes/components/jumbo-nav.njk">
    <nav>
        <dl>
            <dt>Writing</dt>
            <dd><a href="/essays"><span>{{ grouped.get('essay').length }}</span><span>Essays</span></a></dd>
            <dd><a href="/tutorials"><span>{{ grouped.get('tutorial').length }}</span><span>Tutorials</span></a></dd>
            <dd><a href="/noteworthy"><span>{{ grouped.get('noteworthy').length }}</span><span>Noteworthy</span></a></dd>
            <dd><a href="/thoughts"><span>{{ grouped.get('thought').length }}</span><span>Thoughts</span></a></dd>
            <dd><a href="/glossary"><span>{{ grouped.get('glossary').length }}</span><span>Glossary</span></a></dd>
            <dd><a href="/stubs"><span>{{ stubs.length }}</span><span>Stubs</span></a></dd>
            <dd><a href="/writing" title="View all Writing (archive)"><small>View all <span aria-hidden="true">→</span></small></a></dd>
        </dl>
        <dl>
            <dt>Lists/Collections</dt>
            <dd><a href="/lists/film-and-tv/"><span>{{ videoMediaCount }}</span><span>Films & TV</span></a></dd>
            <dd><a href="/lists/listened-to/"><span>*</span><span>Listened To</span></a></dd>
            <dd><a href="/books"><span>{{ read.length }}</span><span>My Bookshelf</span></a></dd>
            <dd><a href="/antilibrary"><span>{{ antilibrary.length }}</span><span><em>The</em> Antilibrary</span></a></dd>
            <dd><a href="/amplify" title="View amplified links"><span>*</span><span>Amplified</span></a></dd>
            <dd><a href="/lists" title="View all lists and collections (archive)"><small>View all <span aria-hidden="true">→</span></small></a></dd>
        </dl>
        <dl> 
            <dt>Resources</dt>
            <dd><a href="/resources/bookmarks"><span>{{ resources.get('bookmarks').length }}</span><span>Bookmarks</span></a></dd>
            <dd><a href="/resources/quotes"><span>{{ resources.get('quotes').length }}</span><span>Quotes</span></a></dd>
            <dd><a href="/resources" title="View all Resources (archive)"><small>View all <span aria-hidden="true">→</span></small></a></dd>
        </dl>
        <dl>
            <dt>Personal</dt>
            <dd><a href="/about"><span>About</span></a></dd>
            <dd><a href="/elsewhere"><span>Elsewhere</span></a></dd>
            <dd><a href="/projects"><span>My Projects</span></a></dd>
            <dd><a href="/now"><span>/now</span></a></dd>
            <dd><a href="/uses"><span>/uses</span></a></dd>
        </dl>
        <div>
            <dl>
                <dt>Community</dt>
                <dd>
                    <a href="/links"><span>Blogroll</span></a>
                    <a href="https://indieweb.social" target="_blank"><span>indieweb.social</span></a>
                </dd>
            </dl>
        </div>
    </nav>
</section>
