<aside data-source="src/_includes/components/ref-to-project-log.njk">
    <p>Want to read more about the details of this project and my work on it? Check out my <a href="{{ isBasedOn }}" title="Read {{ title }} dev log" target="_blank">developer log for the {{title}} project page</a>.</p>
</aside>
