[[plugins]]
package = "netlify-plugin-cache"

[plugins.inputs]
paths = [".cache", "_site/amplify", "_site/quotes"]

[[plugins]]
package = "@netlify/plugin-local-install-core"

# Config for the Netlify Build Plugin: netlify-plugin-minify-html
[[plugins]]
package = "./plugins/netlify-plugin-html-minify"

# Specify which deploy contexts we'll minify HTML in.
# Supports any Deploy Contexts available in Netlify.
# https://docs.netlify.com/site-deploys/overview/#deploy-contexts
[plugins.inputs]
contexts = [
  'production',
  'deploy-preview',
]

# Optionally, override the default options for the minification
# https://github.com/kangax/html-minifier#options-quick-reference
[plugins.inputs.minifierOptions]
collapseInlineTagWhitespace = false
collapseWhitespace = true
conservativeCollapse = true
preserveLineBreaks = false
removeComments = true
useShortDoctype = true

[plugins.inputs.inputOptions]
paths = [
  '[DIRSUB]/amplify/!([0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-*)/*.html',
  '[DIRSUB]/amplify/[0-9][0-9][0-9][0-9]/**/*.html',
  '[DIRSUB]/!(amplify)/**/*.html',
  '[DIRSUB]/*.html',
]

[build.environment]
NODE_VERSION = "22"

[functions]
external_node_modules = ["sharp"]
