---
pagination:
  data: collections.amplifiesPaginatedByYearMonth
  size: 1
  alias: yearMonth
permalink: /amplify/{{ yearMonth.slug }}/index.html
folder: amplify
titlePrefix: Index
---
{% set title = yearMonth.title %}
{% extends "layouts/page.njk" %}
{% set collectionVerb = "Amplified" %}
{% set paginationBase = "amplify" %}
{% set forward = true %}

{% block pageContent %}
  <section>
    {% set displayContentType = true %}
    {% set postsList = yearMonth.items | reverse %}
    {% include "components/post-list.njk" %}
  </section>

  
{% set collectionTerm = collectionVerb or "Planted" %}
<nav class="dates-list">
    <h2>{{ collectionTerm }} throughout the seasons</h2>

    {%- set allPosts = collections.contentTypes | findBySlug('amplify') | values('items') | reverse -%}
    {%- set postsByYear = allPosts | groupByYear -%}

    <ol class="post-list">
    {%- for year, items in postsByYear -%}
        <li>
            <strong>{{ year }}</strong>
            <hr/>
            {%- set postsByMonth = items | groupByMonth -%}
            {%- set year = year -%}
            <small>
                {%- include 'components/months-of-year.njk' -%}
            </small>
        </li>
    {%- endfor -%}
    </ol>
</nav>


{% endblock %}
