<section data-source="src/_includes/layouts/list-default.njk">
    <ul>
        {%- for item in list.items -%}
            <li>
				<a href="{{ item.url }}" title="My notes on {{ item.data.title }}">{{ item.data.title }}</a>
			</li>
        {%- endfor -%}
    </ul>
</section>
