{%- set mainClass = "content-grid" -%}
{%- extends "./page.njk" -%}

{%- block head -%}
<script type="module" src="/scripts/contrast-ratio.js" async></script>
<script src="/scripts/contrast-checker.js" defer></script>
{%- endblock -%}

{%- block content -%}
<section data-source="src/_includes/layouts/list-contrasts.njk">
  <p>Click a swatch to see its accessibility against the background color. Double click to swap foreground swatch and background color. Click the comparison swatch to left of the accessability information to get the color codes.</p>
    <div id="compare">
      <div class="color-item" id="background-contraster">
        <div class="color-set__swatch comparison" id="foreground-contraster"></div>
        <div id="results-container">
          <div id="contrast-results">Ratio: <span id="contrast-result-ratio"></span> | Score: <span id="contrast-result-score"></span> | Accessible? <span id="contrast-result-check"></span></div><br />
          <div id="contrast-colors-info" class="hidden">Foreground: <span id="contrast-foreground-info"></span> | Background: <span id="contrast-background-info"></span></div>
        </div>
      </div>
    </div>
        <ul id="color-contrast-list">
            {%- for colorSet in contrasts.colorSets -%}
                <li class="color-item">
                    <div class="color-set" style="background-color: {{ colorSet.colors[0] }}">
                        {%- for colorHex in colorSet.colors -%}
                        <div class="color-set__swatch-container" data-hexcode="{{ colorHex }}" style="background-color: {{ colorHex }}80">
                            <div class="color-set__swatch compare-ready-color" style="background-color: {{ colorHex }}"></div>
                        </div>
                        {%- endfor -%}

                    </div>
                    <div class="extra-colorset-data">
                      {%- if colorSet.source and not colorSet.sourceInfo -%}
                      <a href="{{ colorSet.source }}" target="_blank">Via.</a>
                      {% elseif colorSet.source and colorSet.sourceInfo %}
                      From: <a href="{{ colorSet.source }}" target="_blank">{{ colorSet.sourceInfo }}</a>
                      {% elseif colorSet.sourceInfo %}
                      From: {{ colorSet.sourceInfo }}
                      {%- endif -%}
                    </div>
                </li>
            {%- endfor -%}
        </ul>
</section>        
{%- endblock -%}
