{% extends "./page.njk" %}

{% block content %}
<section data-source="src/_includes/layouts/list-contrasts.njk">
        <ul>
            {% for colorSet in contrasts.colorSets %}
                
            {% endfor %}
        </ul>
</section>        
{% endblock %}
