{% extends "./page.njk" %}
{% set ogtype = 'article' %}
{% set readingTime = content | wordStats %}
{% set headingClass = 'note' %}
{% set templateName = 'page-post' %}
{% set titlePrefix %}
    {% include "components/growth.njk" %} {{ contentType }}
{% endset %}

{% set subTitle %}
    {% if growthStage === 'stub' %}scheduled for {% else %}posted on {% endif %}
    <time datetime="{{ page.date.toISOString() }}">{{ page.date | dateToFormat("DDD") }}</time>
    in: {% include "../components/tag-list.njk" %}.
    {% if modified %}
    modified on <time datetime="{{ modified.toISOString() }}">{{ modified | dateToFormat("DDD") }}</time>
    {% endif %}
    <br/>{% if readingTime.text and readingTime.words > 0 %}{{ readingTime.text if readingTime.words > 0 }}.{% endif %}
{% endset %}

{% block pageContent %}
    {% if growthStage === 'stub' %}
    <section>
        <aside class="notes">
            <p>Note: This is a stub post to be filled out in the future. It has been created for the purpose of interlinking feel free to check out what links here from the list below to find related pages.</p>
        </aside>
    </section>
    {% endif %}

    {% if series %}
        {% set postsList = collections | seriesPosts(series) %}
        <section>
            <details>
                <summary>Series Listing <small>(click to open)</small></summary>
                {% include "components/series-list.njk" %}
            </details>
        </section>
    {% endif %}

    <section class="full-width page-post" data-source="src/_includes/layouts/page-post.njk">
    {% if cover_image %}
      <div class="featured-image full-width breakout">
        <img src="/img/posts/{{cover_image}}" loading="lazy" />
      </div>
    {% endif %}
        {{ content | safe }}
    </section>

    {% if tags | includesTag('wayback machine') %}
        <hr/>
        {% include "components/wayback-machine.njk" %}
    {% endif %}
    {% if isBasedOn && git %}
        <hr/>
        {% include "components/ref-to-project-log.njk" %}
    {% endif %}

    {% include "components/backlinks.njk" %}
{% endblock %}
