---
folder: [writing, stats]
---
{% extends "layouts/page.njk" %}

{% set title = 'Content Stats, all time' %}
{% set titlePrefix = 'Writing' %}
{% set subTitle = 'Day by day breakdown of when I published' %}
{% set headingClass = 'stats__header' %}

This page is offline for now. 
