---
title: 'About'
isBasedOn: "https://aramzs.github.io/aramzs/"
---
{%- extends "layouts/page.njk" -%}

{%- block content -%}
<article class="content-grid">
    <h1>Who is Aram Zucker-Scharff?</h1>

    <section id="shared-about" class="full-width breakout" >
      <p>Aram Zucker-Scharff is the Engineering Lead for Privacy & Security Compliance at The Washington Post. He previously worked on the Zeus team, helping publishers to maximize site performance and revenue. He has also worked on The Washington Post’s Ad Tech R&D and Big Data teams. Aram has developed open-source tools for publishers and consulted on content strategy and digital newsroom workflows. He was one of Folio Magazine’s 15 under 30 in the magazine media industry.</p>

      <p>Previously: Aram worked as Salon.com’s full stack developer. His work has been covered multiple times in journalism.co.uk and he has appeared in The Atlantic, Digiday, Poynter, and Columbia Journalism Review. He has also worked as a journalist, a community manager and a journalism educator. </p>
		  <p>Read more about Aram in his main <a href="https://aramzs.github.io/aramzs/" target="_blank">about page</a>.</p>
    </section>

    <section class="full-width breakout">
        <a id="inspiration"></a>
        <h2>Inspiration and resources that formed this site</h2>
        <ul>
            <li>This blog uses the code from and is heavily based on the work of <a href="https://photogabble.co.uk/about/" target="_blank">Simon Dann</a> <small>(<a target="_blank" href="https://notacult.social/@carbontwelve" target="_blank">@carbontwelve@notacult.social</a>)</small></li>
        </ul>
    </section>
</article>
{%- endblock -%}
