---
title: 'About'
isBasedOn: "https://aramzs.github.io/aramzs/"
---
{% extends "layouts/page.njk" %}

{% block content %}
<script src="/htmx.min.js"></script>
<article>
    <h1>Who is Aram Zucker-Scharff?</h1>

    <section id="shared-about" hx-get="https://aramzs.github.io/aramzs/" hx-trigger="load" hx-target="this">
		Read more about Aram in his main <a href="https://aramzs.github.io/aramzs/">about page</a>.
    </section>

    <section>
        <a id="inspiration"></a>
        <h2>Inspiration</h2>
        <p>
            TK
        </p>
        <ul>
            <li><a href="https://photogabble.co.uk/about/" target="_blank">Simon Dann</a> <small>(<a target="_blank" href="https://notacult.social/@carbontwelve">@carbontwelve@notacult.social</a>)</small></li>
			<li><a href="https://pxlnv.com/about/" target="_blank">Nick Heer</a> <small>(<a target="_blank" href="https://c.im/@nickheer">@nickheer@c.im</a>)</small></li>
			<li><a target="_blank" href="https://about.werd.io/">Ben Werdmuller</a> <small>(<a target="_blank" href="https://werd.social/@ben">@ben@werd.social</a>)</small></li>
			<li><a target="_blank" href="https://tantek.com/">Tantek Çelik</a> <small>(<a target="_blank" href="https://tantek.com/@tantek">@tantek.com@tantek.com</a>)</small></li>
			<li><a target="_blank" href="https://boffosocko.com/about/">Chris Aldrich</a> <small>(<a target="_blank" href="https://mastodon.social/@chrisaldrich">@chrisaldrich@mastodon.social</a>)</small></li>
        </ul>
    </section>
</article>
{% endblock %}
