{% extends "layouts/page.njk" %}

{% set articlesList = collections.post | excludeStubs %}
{% set mainClass = 'content-grid' %}

{% block content %}
  <h1><span class="selected">Hello</span>, I'm Aram.</h1>

  <section class="paragraph">
    <p>
		Hi, I'm a Software Development Manager for Ad Tech at The Washington Post. I previously built the Privacy and Security Compliance team and worked on the Zeus SaaS team, helping publishers to maximize site performance and revenue. I've also worked on Washington Post R&D and Big Data teams.
	</p>
    <p>In my spare time I work on <a href="/projects/">open source stuff</a> and <a href="/sites/">websites</a>. You can find me on <a href="/elsewhere/">various online platforms &amp; communities</a>.</p>
    <p>You can find out more <a href="/about/">about me</a>, what I <a href="/uses/">use</a>, the books that I <a href="/books/">have been reading</a> and what I am up to <a href="/now/">now</a>.</p>
  </section>

  <section id="front-content-display">
    <section>
      <h2>Recent Blogging</h2>
      {% set postsList = articlesList | excludeTypes(['thought', 'project', 'mirror', 'resource', 'amplify']) | reverse | limit(6) %}
      {% include "components/post-list.njk" %}
      <p>
        Subscribe to the <a href="/writing/feed.xml">RSS Feed</a> or view the entire <a href="/writing">archive</a> for more.
      </p>
    </section>

    {% set essays = articlesList | onlyTypes(['essay']) %}

    {% if essays.length > 0 %}
      <section>
        <h2>Latest Longform Essay</h2>
        {% set postsList = essays | reverse | limit(1) %}
        {% include "components/post-list.njk" %}
        <p>
          View <a href="/essays/">more essays...</a>
        </p>
      </section>
    {% endif %}

    {% set thoughts = articlesList | onlyTypes(['thought']) %}

    {% if thoughts.length > 0 %}
      <section>
        <h2>Recent Thoughts</h2>
        {% set postsList = thoughts | reverse | limit(3) %}
        {% include "components/post-list.njk" %}
        <p>
          View <a href="/thoughts/">more thoughts...</a>
        </p>
      </section>
    {% endif %}
    <section>
      <h2>Recent Amplifications</h2>
      {% set postsList = collections.contentTypes | findBySlug('amplify') | values('items') | limit(10) %}
      {% set forward = true %}
      {% include "components/post-list.njk" %}
      
      <p>
        Subscribe to the <a href="/amplify/feed.xml">Amplified Items RSS Feed</a> or view the entire <a href="/amplify">archive</a> for more.
      </p>
    </section>
  </section>
{% endblock %}
