{% extends "layouts/page.njk" %}

{% set title = 'Quotes' %}

{% block content %}
    <h1>Quotes</h1>
    <p>List of quotes collected from various sources, taken from intersting sources all over, but especially via the highlight function in my ebook reader.</p>

    {% for quote in quotes | reverse %}
        <blockquote>
            <p><em>“{{ quote.blockquote }}”</em><br>
                — {{ quote.cite.name }}
            </p>
        </blockquote>
    {% endfor %}
{% endblock %}
