---
    permalink: "writing/feed.xml"
    eleventyExcludeFromCollections: true
---
{% set postsList = collections.post | excludeStubs | excludeTypes(['project', 'mirror', 'resource', 'amplify'], ['list/music']) %}<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en-GB">
    <title type="text">{{ metadata.title }}</title>
    <subtitle type="text">{{ metadata.description }}</subtitle>

    <id>{{ metadata.feedUrl }}</id>
    <link rel="alternate" type="text/html" href="{{ metadata.url }}" />
    <link rel="self" type="application/atom+xml" href="{{ metadata.feedUrl }}" />

    <updated>{{ postsList | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    <generator uri="https://www.11ty.dev/">Eleventy.js</generator>
    {%- for post in postsList | reverse %}
        {%- if loop.index0 "<" 10 -%}
            {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
            {% set postContent = post.templateContent %}
            {%- if post.data.cite and post.data.cite.href or post.data.referringUri or post.data.isBasedOn or post.data.canonical -%}
              {%- set citeAnchorText = "link" -%}
              {%- if post.data.cite and post.data.cite.name -%}
                {%- set citeAnchorText = post.data.cite.name -%}
              {%- endif -%}
              {%- if post.data.cite and post.data.cite.author -%}
                {%- set citeAnchorText = citeAnchorText + " by " + post.data.cite.author -%}
              {%- endif -%}
              {% set externalLink = post.data.referringUri or post.data.isBasedOn or post.data.canonical or post.data.cite.href %}
              {% set anchorText = citeAnchorText | stripAllQuotes %}
              {%- set postContent = post.templateContent + '<p>Read the article at <a href="' + externalLink + '">' + anchorText + '</a></p>' + '<br></br><img src="/feed-img.svg" width="50" height="50" alt="Site logo">' | htmlToAbsoluteUrls(absolutePostUrl) -%}                                
            {% endif %}
            <entry>
                <title>{{ post.data.title }}</title>
                {%- if post.data.referringUri or post.data.isBasedOn or post.data.canonical or post.data.cite and post.data.cite.href -%}
                <link href="{{post.data.referringUri or post.data.isBasedOn or post.data.canonical or post.data.cite.href }}"/>
                {%- else -%}
                <link href="{{ absolutePostUrl }}"/>
                {%- endif -%}
                <updated>{{ post.date | dateToRfc3339 }}</updated>
                <id>{{ absolutePostUrl }}</id>
                <content type="html">
                    {{- postContent -}}
                </content>
            </entry>
        {%- endif -%}
    {%- endfor %}
</feed>
