---
title: Listened To
titlePrefix: List
folder: lists
subTitle: What I have been listening to recently
---
{% extends "layouts/page.njk" %}

{% set musicPreview = collections.musicPreview.items %}
{% block pageContent %}
    <section>
        <header><h2>Podcasts</h2></header>
        <ul>
            <li>
                <a href="https://hazardpodcast.com/" title="Hazard Podcast" target="_blank">Hazard Podcast</a>
            </li>
            <li>
                <a href="https://localswitchboard.nyc" title="Local Switchboard" target="_blank">Local Switchboard</a>
            </li>
        </ul>
    </section>

    <section>
        <header><h2>Music</h2></header>
        <ul>
        {%- for item in musicPreview -%}
          <li>
				    <a href="{{ item.data.isBasedOn or item.url }}" title="My notes on {{ item.data.title }}">{{ item.data.title }}</a>
			    </li>
        {%- endfor -%}
        </ul>        
    </section>

    <hr/>

    <section>
        <p><small>Music here comes from another site of mine <a href="https://songobsessed.com/" title="Visit Song Obsessed">the Song Obsessed music library and player</a>.</small></p>
    </section>
{% endblock %}
